@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body {
    font-family: Ubuntu;
    background: #F9F9F9;
    color: #5D6E97;
}

button {
    width: 189px;
    height: 38px;
    color: #FFFFFF;
    background: #4A9DFF;
    border: none;
    border-radius: 20px;
}

.bottomButtonsContainer {
    margin-top: 75px;
    margin-left: 30%;
    display: inline-flex;
    width: 50%;
    justify-content: space-evenly;
}

.transparentButton {
    background: none;
    color: #5D6E97;
}

input[type="text" i] {
    border: none;
    border-radius: 20px;
    height: 28px;
    width: 250px;
    padding-left: 25px;
    color: #5D6E97;
    font-size: 16px;
}

*, a:focus {
    outline: none !important;
}

table {
    margin-top: 50px;
    font-size: 16px;
}

th {
    height: 50px;
}

.tableMain {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 4px -1px 10px rgba(7,7,7,0.1);
    width: 90%;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}

.tdWithBorder {
    border-top: 0.5px solid rgba(93, 110, 151, 0.4);
    border-bottom: 0.5px solid rgba(93, 110, 151, 0.4);
    height: 50px;
    align-content: flex-end;
}

.additiveRow {
    height: 100px;
}

h5 {
    color: rgba(93,110,151,0.4);
    display: flex;
    justify-content: center;
}